@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');

:root {
  --text-color: black;
  --text-color-light: rgb(65, 65, 65);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  color: var(--text-color);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem; /* Adjust padding */
}

nav .items {
  display: flex;
  gap: 1.25rem;
}

.container,
section:not(.full),
footer {
  margin-inline: auto;
  max-width: calc(100vw - 20%); /* Change to 100% */
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hide by default for larger screens */
}
a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: calc(100vw - 10%); /* Adjust padding */
  }

  .menu-icon {
    display: block; /* Show the menu icon for smaller screens */
  }

  nav .items {
    display: none; /* Hide navigation links for smaller screens */
    flex-direction: column; /* Stack navigation links vertically */
    position: absolute;
    top: 4rem; /* Adjust position from the top */
    left: 50%;
    background-color: white;
    width: 50%;
    height: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  nav .items.active {
    display: flex;
    gap: 2rem; /* Show navigation links when active class is added */
  }
}

header {
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0rem;
}
h1 {
  font-weight: 600;
  font-size: 120px;
  margin: 0;
}
h2 {
  font-weight: 500;
  font-size: 70px;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 45px;
  margin: 0;
}
h4 {
  font-weight: 400;
  font-size: 32px;
}
p {
  font-weight: 300;
  font-size: 20px;
}
button {
  font-weight: 400;
  font-size: 20px;
}
.light {
  color: var(--text-color-light);
}
@media (max-width: 768px) {
  h1 {
    font-weight: 600;
    font-size: 50px;
    margin: 0;
  }
  h2 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
  h4 {
    font-weight: 400;
    font-size: 16px;
  }
  p {
    font-weight: 300;
    font-size: 15px;
  }
  button {
    font-weight: 400;
    font-size: 15px;
  }
}
.work-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.work-item {
  display: flex;
  flex-direction: column;
  height: 40rem;
  overflow: hidden;
  position: relative;
}
.work-item img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
}

.work-item .item-info {
  padding: 2rem;
  position: absolute;
  background-color: white;
  left: 0;
  top: 100%;
  height: 20rem;
  transition: top 200ms;
}

.work-item:hover .item-info {
  top: calc(40rem - 20rem);
}

@media (max-width: 768px) {
  .work-item img {
    width: 100vw;
  }
}

button {
  border: none;
  background-color: white;
  padding: 0;
}
