@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');

:root {
  --text-color: black;
  --text-color-light: rgb(65, 65, 65);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  color: var(--text-color);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem; 
}

nav .items {
  display: flex;
  gap: 1.25rem;
}

.container,
section:not(.full),
footer {
  margin-inline: auto;
  max-width: calc(100vw - 20%); 
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; 
}
a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: calc(100vw - 10%); 
  }

  .menu-icon {
    display: block; 
  }

  nav .items {
    display: none; 
    flex-direction: column; 
    position: absolute;
    top: 4rem; 
    left: 50%;
    background-color: white;
    width: 50%;
    height: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  nav .items.active {
    display: flex;
    gap: 2rem; 
  }
}

header {
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0rem;
}
h1 {
  font-weight: 600;
  font-size: 120px;
  margin: 0;
}
h2 {
  font-weight: 500;
  font-size: 70px;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 45px;
  margin: 0;
}
h4 {
  font-weight: 400;
  font-size: 32px;
}
p {
  font-weight: 300;
  font-size: 20px;
}
button {
  font-weight: 400;
  font-size: 20px;
}
.light {
  color: var(--text-color-light);
}
@media (max-width: 768px) {
  h1 {
    font-weight: 600;
    font-size: 50px;
    margin: 0;
  }
  h2 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
  h4 {
    font-weight: 400;
    font-size: 16px;
  }
  p {
    font-weight: 300;
    font-size: 15px;
  }
  button {
    font-weight: 400;
    font-size: 15px;
  }
}
.work-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.work-item {
  display: flex;
  flex-direction: column;
  height: 40rem;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.work-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.work-item .item-info {
  padding: 2rem;
  position: absolute;
  background-color: white;
  left: 0;
  top: 100%;
  height: 20rem;
  transition: top 200ms;
}

.work-item:hover .item-info {
  top: calc(40rem - 20rem);
}
.work-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .work-item img {
    width: 100vw;
  }
}

button {
  border: none;
  background-color: white;
  padding: 0;
}
button:hover {
  color: var(--text-color-light);
  text-decoration: underline;
}
/* Service Section */
.service-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem); 
  text-align: center;
}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
}

.service-card {
  background-color: #354f52;
  color: white;
  width: 500px;
  height: 500px ; 
  margin: 10px;
  padding: 0; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; 
  z-index: 0;
}

.service-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  z-index: 1;
  background-color: rgba(0, 255, 0, 0.6);
}

@media (max-width: 768px) {
  .service-card {
    width: 50%;
    height: 180%; 
    gap: 12.5px;
    margin:5%;
  }
}

@media (max-width:400) {
  .service-card {
    width: 50px;
    height: 10px; 
  }
  .service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }
  .service-card h3 {
    font-size: 8px; 
    font-weight: bold;
    margin: 0;
  }
  .service-card p {
    font-size: 4px; 
  }
}

.service-card h3 {
  font-size: 180%; 
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 5%;
  z-index: 2;
}

.service-card b {
  font-size: 18px; 
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 2;
}

.service-card p {
  font-size: 14px; 
  padding-left: 10%;
  padding-right: 10%;
  z-index: 2;
}

/* Our Team Section */
.team-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.team-member {
  background-color: #f5f5f5;

  text-align: center;
}

.team-member img {
  max-width: 100%;
  height: auto;
}

.team-member h3 {
  display: none; 
  margin-top: 10px;
  font-size: 18px;
}

.team-member p {
  display: none;
  color: #777;
}

h3{
  text-align: center;
}

footer{
  text-align: center;
  background-color: #eaeaea;
  padding: 1px;
  font-size: smaller;
}

/* Mobile Styles for Services Section */
@media (max-width: 768px) {
  .service-grid {
    padding: 20px; 
  }

  .service-card {
    width: 100%; 
    height: auto; 
    margin: 10px 0; 
  }

  .service-card h3 {
    font-size: 24px; 
  }

  .service-card b {
    font-size: 20px; 
  }

  .service-card p {
    font-size: 16px; 
  }
}

/* Mobile and Tablet Styles for Work Section */
@media (max-width: 768px) {
  .work-wraper {
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(4, 1fr); 
  }

  .work-item {
    height: auto; 
    margin-bottom: 20px; 
  }

  .work-item img {
    width: 100%; 
  }

  .work-item .item-info {
    position: relative; 
    top: auto;
    height: auto;
    background-color: transparent; 
    padding: 0; 
  }

  .work-item:hover {
    transform: none; 
  }
}
